
footer{
	background:#363A3B;
}

footer h4{
	color: #B05F30;
	font-size: 1.6em;
	font-weight: 700;
}

footer a{
	color: #fff;
}

footer a:hover,
footer a:focus{
	color: #d9d9d9;
	text-decoration: none;
}

footer .social-media img{
	border: 1px solid #B05F30;
	padding: 5px;
	border-radius: 50%;
	margin-right: 5px;
}

.aboutme{
	font-size: 0.9em;
}

.nav-link, .abouthead{
	color: #B05F30;
}

.cardboardel h3,.cardboardel h4{
	color: #B05F30;
}


.services .icon{
	border: 1px solid #B05F30;
	border-radius: 50%;
	padding: 10px;
	width:60px;
}

#services p{
	font-size: 0.9em;
}

#services .preface, .preface{
	font-size:1.2em;
	font-weight: bold;
}

.carousel-control-next,
.carousel-control-prev {
	border: 2px solid #B05F30;
	height: 50px;
	width:40px;
	opacity: 0.5;
}

@media (max-width: 575px) {
  .di-sm-none {
    display: none !important;
  }
}